esp32-iot-monitoring/nodered/data/flows.json
[
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "flow1",
    "name": "ESP32 Sensor Data",
    "topic": "esp32/sensors/dht11",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "x": 150,
    "y": 100,
    "wires": [["process_data"]]
  },
  {
    "id": "process_data",
    "type": "function",
    "z": "flow1",
    "name": "Process & Enrich",
    "func": "const payload = msg.payload;\nconst timestamp = new Date().toISOString();\n\nmsg.payload = {\n  '@timestamp': timestamp,\n  device_id: payload.device_id || 'esp32_001',\n  temperature: parseFloat(payload.temperature),\n  humidity: parseFloat(payload.humidity),\n  heat_index: parseFloat(payload.heat_index),\n  location: 'lab_01',\n  status: 'active'\n};\n\nreturn msg;",
    "x": 350,
    "y": 100,
    "wires": [["es_out", "debug_out"]]
  },
  {
    "id": "es_out",
    "type": "elasticsearch",
    "z": "flow1",
    "name": "To Elasticsearch",
    "cluster": "http://elasticsearch:9200",
    "index": "sensor-data-{now/d}",
    "x": 550,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "debug_out",
    "type": "debug",
    "z": "flow1",
    "name": "Debug Output",
    "x": 550,
    "y": 160,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered_client",
    "autoConnect": true
  }
]
